https://beta.bls.gov/dataQuery/find?fq=survey:[ln]&s=popularity:D

In [77]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup as bs

In [78]:
state_number = list(range(1,57))
Series_ID = ["LASST010000000000006"]
# Series_ID = [];
# for i in state_number:
#     if i < 10:
#         Series_ID.append("LASST0"+str(i)+"0000000000006")
#     else:    
#         Series_ID.append("LASST"+str(i)+"0000000000006")
#     # last number indicates different data types, 3,4,5,6,7 is available

SaveFileAs = "Employment Data"
Series_ID

['LASST010000000000006']

In [79]:
#Get your jsonified api data here

#Choose years of data to collect
startyear = 2017
endyear = 2017

base_URL = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
    
headers = {'Content-type': 'application/json'}

data = json.dumps({"seriesid": Series_ID,"startyear":startyear, "endyear":endyear,"registrationkey":"a1996666110d420cbf38f706289109f6"})

# Request for api data
Complete_Data = requests.post(f"{base_URL}",data=data, headers=headers)

# jsonify the data
Complete_Data = Complete_Data.json()

# for loop to iterate through the api data and grab all the important information
# for i in Complete_Data["Results"]["series"][0]["data"]:
#     Years.append(i["year"])
#     Months.append(int(i["period"].replace('M', '')))
#     Unemployment_Rate.append(i["value"])

# Complete_Data

In [80]:
Complete_Data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 93,
 'message': [],
 'Results': {'series': [{'seriesID': 'LASST010000000000006',
    'data': [{'year': '2017',
      'period': 'M12',
      'periodName': 'December',
      'value': '2181333',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M11',
      'periodName': 'November',
      'value': '2179645',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M10',
      'periodName': 'October',
      'value': '2178449',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M09',
      'periodName': 'September',
      'value': '2177406',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M08',
      'periodName': 'August',
      'value': '2176378',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M07',
      'periodName': 'July',
      'value': '2175353',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M06',
      'periodName': 'June',
      'value': '2174753',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M05',
      'periodName': 'May',
      'value': '2175151',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M04',
      'periodName': 'April',
      'value': '2176593',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M03',
      'periodName': 'March',
      'value': '2178892',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M02',
      'periodName': 'February',
      'value': '2181597',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M01',
      'periodName': 'January',
      'value': '2184038',
      'footnotes': [{}]}]}]}}

In [81]:
General_Data = Complete_Data["Results"]["series"][0]["data"][0]
General_Data
year = General_Data["year"]
Labor_Force = General_Data["value"]
Labor_Force

'2181333'

In [116]:
#Beautiful Soup to get state of data
website = "https://beta.bls.gov/dataViewer/view/timeseries/"
url = website+Series_ID[0];

response = requests.get(url)
soup = bs(response.text, "html.parser")

# state = soup.find_all("text")
# state

table_text = soup.find_all("table",{"id": "catalogDataTable1"})
state = table_text[0].find("tr").find_all("td")[2].text
state = state.replace("Labor Force: ","").replace(" (S)","")
state

'Alabama'

In [4]:
Collected_Data = pd.DataFrame({"Years":Years,
                              "Months":Months,
                              "Unemployment Rate":Unemployment_Rate})

Collected_Data

    Years  Months Unemployment Rate
0    2019      11              12.0
1    2019      10              12.3
2    2019       9              12.5
3    2019       8              12.6
4    2019       7              12.8
..    ...     ...               ...
714  1960       5              13.9
715  1960       4              14.2
716  1960       3              15.6
717  1960       2              13.1
718  1960       1              14.6

[719 rows x 3 columns]

In [23]:
Collected_Data.to_csv(SaveFileAs,index=False)